@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  color: #004440;
  font-family: "Barlow", sans-serif;
  background: #f0fcf9;
  min-height: 100vh;
  font-size: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input,
select,
button {
  font-size: 16px;
  color: #004440;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.title {
  text-align: center;
  margin-top: 0;
}

.container {
  display: grid;
  grid-gap: 12px;
  grid-auto-flow: column;
}

.currency-select,
.currency-input,
.swap-button {
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
}

.currency-select {
  background: #17b897;
  color: white;
  width: 100px;
}

.currency-input {
  background: white;
  width: 150px;
  border: 2px solid #004440;
}

.swap-button {
  background: #f7c948;
  cursor: pointer;
}
.swap-button:hover,
.swap-button:focus {
  background: #fadb5f;
}

svg {
  position: relative;
  top: 2px;
}
